<table class="rate-chart-table">
    <thead>
      <tr>
        <th>Vehicle Type</th>
        <th>SIZE (FT)</th>
        <th>HOUSE HOLD CAPACITY</th>
        <th>MAX WEIGHT</th>
        <!-- Add more range columns as needed -->
      </tr>
    </thead>
    <tbody>
      <tr style="height:15.0pt;">
      <td class="excel2">TATA ACE</td>
      <td class="excel2">7 L x 4.8 W x 4.8 H</td>
      <td class="excel2">1 BHK</td>
      <td class="excel2">Max Load 850 Kgs</td>
    </tr>
    <tr style="height:15.0pt;">
      <td class="excel2">ASHOK LEYLAND DOST</td>
      <td class="excel2">7 L x 4.8 W x 4.8 H</td>
      <td class="excel2">1 BHK</td>
      <td class="excel2">Max Load 1 Ton</td>
    </tr>
    <tr style="height:15.0pt;">
      <td class="excel2">MAHINDRA BOLERO PICK UP</td>
      <td class="excel2">8 L x 4.8 W x 4.8 H</td>
      <td class="excel2">1 BHK</td>
      <td class="excel2">Max Load 1.5 Ton</td>
    </tr>
    <tr style="height:15.0pt;">
      <td class="excel2">TATA 407</td>
      <td class="excel2">9 L x 5.5 W x 5 H</td>
      <td class="excel2">1.5 BHK</td>
      <td class="excel2">Max Load 2.5 Ton</td>
    </tr>
    <tr style="height:15.0pt;">
      <td class="excel2">EICHER 14 FEET</td>
      <td class="excel2">14 L x 6 W x 6.5 H</td>
      <td class="excel2">2 BHK</td>
      <td class="excel2">Max Load 4 Ton</td>
    </tr>
    <tr style="height:15.0pt;">
      <td class="excel2">EICHER 17 FEET</td>
      <td class="excel2">17 L x 6 W x 7 H</td>
      <td class="excel2">2.5 BHK</td>
      <td class="excel2">Max Load 5 Ton</td>
    </tr>
    <tr style="height:15.0pt;">
      <td class="excel2">EICHER 19 FEET</td>
      <td class="excel2">19 L x 7 W x 7 H</td>
      <td class="excel2">2.5 BHK</td>
      <td class="excel2">Max Load 7/8/9 Ton</td>
    </tr>
 
     <tr style="height:15.0pt;">
      <td class="excel2">TATA 22 FEET</td>
      <td class="excel2">22 L x 7.5 W x 7 H</td>
      <td class="excel2">3 BHK</td>
       <td class="excel2">Max Load 10 Ton</td>
     </tr>
    <tr style="height:15.0pt;">
      <td class="excel2" >TATA TRUCK (6 TYRE)</td>
      <td class="excel2">17.5 L x 7 W x 6 H</td>
      <td class="excel2" ></td>
      <td class="excel2">Max Load 9 Ton</td>
    </tr>
    <tr style="height:15.0pt;">
      <td class="excel2">TAURUS 16 T (10 TYRE)</td>
      <td class="excel2">21 L x 7.2 W x 7 H</td>
      <td class="excel2"></td>
      <td class="excel2">Max Load 16 Ton</td>
    </tr>
    <tr style="height:15.0pt;">
      <td class="excel2">TAURUS 21 T (12 TYRE)</td>
      <td class="excel2"> 24 L x 7.3 W x 7 H</td>
      <td class="excel2"></td>
      <td class="excel2">Max Load 21 Ton</td>
    </tr>
    <tr style="height:15.0pt;">
      <td class="excel2">TAURUS 25 T (14 TYRE)</td>
      <td class="excel2"> 28 L x 7.8 W x 7 H</td>
      <td class="excel2"></td>
      <td class="excel2">Max Load 25 Ton</td>
    </tr>     
   
<!-- Add more rows for other vehicle types as needed -->
    </tbody>
  </table>
  